# ------------------------ PYTHON ------------------------
__pycache__/
.pytest_cache/
htmlcov/
.coverage

# ------------------------ VSCODE ------------------------
.vscode/

# ------------------------- LOGS -------------------------
*.log
